:root {
  background-color: #000; /* Set the background color to dark */
  color: #fff; /* Set the text color to white */
}

/* Add any additional CSS styling you need for specific components or elements */

.highlight {
  background-color: rgb(189, 4, 189);
}